<!DOCTYPE html>
<html>
<head>
	<title>Kabach</title>
	<meta charset="utf-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="../dist/leaflet.ie.css" /><![endif]-->
	<!css>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	<!/js>	
	<!js>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.js"></script>
	<!/js>
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>

